<VirtualHost {{ prefix }}.carl-vanderwegen.sb.uclllabs.be:80>
        ServerAdmin root@carl-vanderwegen
        Servername {{ prefix }}.carl-vanderwegen.sb.uclllabs.be
	ServerAlias {{ prefix }}.carl-vanderwegen.sb.uclllabs.be
        DocumentRoot /var/www/html/{{ prefix }}
        <Directory /var/www/html/{{ prefix }}>
                Options FollowSymLinks
                AllowOverride FileInfo
                # Order deny,allow
                # Deny from all
                # Allow from 10.0.0.0/8
        </Directory>

        LogLevel info

        ErrorLog ${APACHE_LOG_DIR}/{{ prefix }}-error.log
        CustomLog ${APACHE_LOG_DIR}/{{ prefix }}-access.log combined
</VirtualHost>
